@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer {
  border-top: 5px solid #004aad; }
  footer .logfoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
    footer .logfoot p {
      display: none; }
    footer .logfoot img {
      width: 200px;
      padding: 10px 0px; }
    footer .logfoot .sociales {
      border-top: 3px dotted #004aad;
      width: 30vh;
      padding: 10px 0px; }
      footer .logfoot .sociales a {
        color: #737373;
        font-size: 3em;
        padding: 0px 5px; }

@media (min-width: 1024px) {
  footer .logfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    footer .logfoot img {
      width: 250px; }
    footer .logfoot p {
      display: block; }
    footer .logfoot .sociales {
      border: none; } }

.algo {
  background-color: black;
  height: 100vh; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

header {
  border-bottom: 5px solid #004aad; }
  header nav .barra {
    background-color: #ffffff; }
    header nav .barra img {
      max-width: 180px; }
    header nav .barra ul li a {
      text-align: center;
      color: #004aad;
      font-size: 1.2em;
      transition: all 0.2s; }
      header nav .barra ul li a:hover {
        color: #004aad;
        padding-bottom: 20px;
        border-left: solid 7px #004aad; }

@media (min-width: 1024) {
  header nav .barra {
    display: flex; }
    header nav .barra img {
      max-width: 250px; }
    header nav .barra ul li a {
      font-size: 1.4em;
      transition: all 0.2s; }
      header nav .barra ul li a:hover {
        transform: translateY(-10px);
        border-left: none;
        border-bottom: 5px solid #004aad; } }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

.boton1 {
  border: none;
  background-color: #5272ff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.5s; }
  .boton1:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-5px); }

.boton2 {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .boton2:hover {
    background-color: white;
    color: #5272ff;
    border: 3px solid #5272ff; }

.botonContacto {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .botonContacto:hover {
    transform: translateY(-5px); }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

.boton1 {
  border: none;
  background-color: #5272ff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.5s; }
  .boton1:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-5px); }

.boton2 {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .boton2:hover {
    background-color: white;
    color: #5272ff;
    border: 3px solid #5272ff; }

.botonContacto {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .botonContacto:hover {
    transform: translateY(-5px); }

.inicio {
  flex-direction: column;
  padding: 20px 10px 40px 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/8204355/pexels-photo-8204355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 90vh; }
  .inicio .borro {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin: 10px 5px;
    padding: 60px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
    .inicio .borro h1 {
      color: #004aad;
      font-size: 6em;
      font-weight: bold; }
    .inicio .borro p {
      color: white;
      font-size: 1.5em; }

#servini {
  flex-direction: column;
  background-color: white;
  padding: 20px 0px 80px 0px; }
  #servini h2 {
    font-size: 3em; }
  #servini .serviniContainer {
    flex-direction: column; }
    #servini .serviniContainer .servicio {
      background-color: white;
      max-width: 85%;
      margin: 20px 0px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      transition: all 0.2s; }
      #servini .serviniContainer .servicio:hover {
        background-color: rgba(149, 159, 194, 0.199); }
      #servini .serviniContainer .servicio h3 {
        height: 15vh;
        font-size: 1.6em;
        border-bottom: 3px solid #004aad;
        padding: 20px 5px;
        color: #5272ff;
        transition: all 0.5s; }
      #servini .serviniContainer .servicio p {
        color: black;
        margin: 20px 5px;
        text-align: start !important;
        padding: 0px 10px;
        font-size: 1.2em; }

@media (min-width: 1024px) {
  .inicio {
    height: 70vh; }
    .inicio .borro p {
      font-size: 2em; }
  #servini h2 {
    font-size: 3em; }
  #servini p {
    font-size: 0.7em; }
  #servini .serviniContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px 40px; }
    #servini .serviniContainer .servicio {
      width: 25%;
      margin: 20px 20px;
      height: 35em; } }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

.boton1 {
  border: none;
  background-color: #5272ff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.5s; }
  .boton1:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-5px); }

.boton2 {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .boton2:hover {
    background-color: white;
    color: #5272ff;
    border: 3px solid #5272ff; }

.botonContacto {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .botonContacto:hover {
    transform: translateY(-5px); }

#serviciosEsp {
  padding-top: 10px; }
  #serviciosEsp .serviciosCont h1 {
    display: inline-block;
    position: relative;
    font-size: 4em;
    color: #004aad;
    padding: 30px 5px;
    padding-bottom: 0px;
    margin-bottom: 0px; }
  #serviciosEsp .serviciosCont p {
    display: none; }
  #serviciosEsp img {
    display: none; }

#servini {
  padding: 0; }

@media (min-width: 1024px) {
  #serviciosEsp {
    display: flex;
    flex-direction: row-reverse;
    height: 80vh; }
    #serviciosEsp .serviciosCont {
      width: 30%;
      margin-left: 40px; }
      #serviciosEsp .serviciosCont h1 {
        font-size: 3.6em;
        padding-bottom: 10px; }
        #serviciosEsp .serviciosCont h1::before {
          content: '';
          position: absolute;
          width: 60px;
          height: 3px;
          background-color: #737373;
          top: 1.1em;
          left: -80px; }
        #serviciosEsp .serviciosCont h1::after {
          content: '';
          position: absolute;
          width: 60px;
          height: 3px;
          background-color: #737373;
          top: 1.1em;
          right: -80px; }
      #serviciosEsp .serviciosCont p {
        display: block;
        text-align: justify;
        font-size: 1.4em; }
    #serviciosEsp img {
      margin-right: 40px;
      display: block;
      max-width: 500px;
      border-radius: 20px;
      box-shadow: #26394d 0px 20px 30px -10px; }
  .py0 {
    padding: 0px auto; } }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

.boton1 {
  border: none;
  background-color: #5272ff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.5s; }
  .boton1:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-5px); }

.boton2 {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .boton2:hover {
    background-color: white;
    color: #5272ff;
    border: 3px solid #5272ff; }

.botonContacto {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .botonContacto:hover {
    transform: translateY(-5px); }

#proyectos h1 {
  font-size: 3.5em;
  text-align: center;
  padding: 20px 5px;
  color: #004aad; }

#proyectos .unProyecto .descripcionProyecto h2 {
  font-size: 2.6em;
  padding: 10px 5px 0px 10px;
  text-align: start;
  color: #5272ff; }

#proyectos .unProyecto .descripcionProyecto p {
  font-size: 1.3em;
  text-align: justify;
  padding: 0px 20px 0px 20px;
  color: #737373; }

#proyectos .unProyecto .descripcionProyecto ul {
  padding: 0;
  padding-left: 20px; }
  #proyectos .unProyecto .descripcionProyecto ul li {
    font-size: 1.2em;
    color: #737373;
    transition: all 0.5s; }
    #proyectos .unProyecto .descripcionProyecto ul li:hover .nave {
      transform: rotate(-43deg);
      width: 40px; }
    #proyectos .unProyecto .descripcionProyecto ul li .nave {
      width: 30px;
      transition: all 0.5s; }

@media (min-width: 1024px) {
  #proyectos .unProyecto {
    display: flex;
    margin: 40px 0px; }
    #proyectos .unProyecto img {
      width: 50%; }
    #proyectos .unProyecto .descripcionProyecto {
      background-color: #5272ff18;
      margin-left: 20px; } }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p, #serviciosEsp, #contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

.boton1 {
  border: none;
  background-color: #5272ff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.5s; }
  .boton1:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-5px); }

.boton2 {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .boton2:hover {
    background-color: white;
    color: #5272ff;
    border: 3px solid #5272ff; }

.botonContacto {
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #5272ff;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s; }
  .botonContacto:hover {
    transform: translateY(-5px); }

#contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh; }
  #contacto .cardContacto {
    background-color: rgba(0, 0, 0, 0.548);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 4px solid #004aad;
    margin: 0px 20px; }
    #contacto .cardContacto h1 {
      font-size: 2.6em;
      color: white;
      padding: 30px 0px 15px 0px; }
    #contacto .cardContacto form input {
      background-color: rgba(54, 51, 51, 0);
      margin: 20px 0px;
      width: 80%;
      border: none;
      border-bottom: 1px solid #5272ff;
      height: 50px;
      transition: all 0.5s; }
      #contacto .cardContacto form input::placeholder {
        padding-left: 10px;
        color: white;
        text-transform: uppercase; }
      #contacto .cardContacto form input:focus {
        height: 60px; }
    #contacto .cardContacto form button {
      margin: 20px 0px; }
  #contacto .ubi {
    display: none; }

@media (min-width: 1024px) {
  #contacto {
    display: flex;
    justify-content: space-around;
    height: 140vh; }
    #contacto .cardContacto {
      max-width: 500px;
      height: 500px;
      border-bottom: 4px solid #004aad; }
    #contacto .ubi {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: rgba(0, 0, 0, 0.548);
      display: block;
      padding: 10px 20px;
      border-top: 4px solid #004aad;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #contacto .ubi h2 {
        color: white; }
      #contacto .ubi iframe {
        height: 40vh; } }
