@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer {
  border-top: 5px solid #004aad; }
  footer .logfoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
    footer .logfoot p {
      display: none; }
    footer .logfoot img {
      width: 200px;
      padding: 10px 0px; }
    footer .logfoot .sociales {
      border-top: 3px dotted #004aad;
      width: 30vh;
      padding: 10px 0px; }
      footer .logfoot .sociales a {
        color: #737373;
        font-size: 3em;
        padding: 0px 5px; }

@media (min-width: 990px) {
  footer .logfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    footer .logfoot img {
      width: 250px; }
    footer .logfoot p {
      display: block; }
    footer .logfoot .sociales {
      border: none; } }

.algo {
  background-color: black;
  height: 100vh; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

header {
  border-bottom: 5px solid #004aad; }
  header nav .barra {
    background-color: #ffffff; }
    header nav .barra img {
      max-width: 180px; }
    header nav .barra ul li a {
      text-align: center;
      color: #004aad;
      font-size: 1.2em;
      transition: all 0.2s; }
      header nav .barra ul li a:hover {
        color: #004aad;
        padding-bottom: 20px;
        border-left: solid 7px #004aad; }

@media (min-width: 990px) {
  header nav .barra {
    display: flex; }
    header nav .barra img {
      max-width: 250px; }
    header nav .barra ul li a {
      font-size: 1.4em;
      transition: all 0.2s; }
      header nav .barra ul li a:hover {
        transform: translateY(-10px);
        border-left: none;
        border-bottom: 5px solid #004aad; } }

.boton1 {
  border: none;
  background-color: #5272ff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.5s; }
  .boton1:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-5px); }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

footer .logfoot .sociales, .inicio, #servini, #servini .serviniContainer, #servini .serviniContainer .servicio h3, #servini .serviniContainer .servicio p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }

.inicio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

.boton1 {
  border: none;
  background-color: #5272ff;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.5s; }
  .boton1:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-5px); }

.inicio {
  flex-direction: column;
  padding: 20px 10px 40px 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/8204355/pexels-photo-8204355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 90vh; }
  .inicio .borro {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin: 10px 5px;
    padding: 60px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
    .inicio .borro h1 {
      color: #004aad;
      font-size: 6em;
      font-weight: bold; }
    .inicio .borro p {
      color: white;
      font-size: 1.5em; }

#servini {
  flex-direction: column;
  background-color: white;
  padding: 20px 0px 80px 0px; }
  #servini h2 {
    font-size: 3em; }
  #servini .serviniContainer {
    flex-direction: column; }
    #servini .serviniContainer .servicio {
      background-color: white;
      max-width: 85%;
      margin: 20px 0px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      transition: all 0.2s; }
      #servini .serviniContainer .servicio:hover {
        background-color: rgba(149, 159, 194, 0.199); }
      #servini .serviniContainer .servicio h3 {
        font-size: 1.8em;
        border-bottom: 3px solid #004aad;
        padding: 20px 5px;
        color: #5272ff;
        transition: all 0.5s; }
      #servini .serviniContainer .servicio p {
        color: black;
        margin: 20px 5px;
        text-align: justify;
        padding: 0px 10px;
        font-size: 1.5em; }

@media (min-width: 990px) {
  .inicio {
    height: 70vh; }
    .inicio .borro p {
      font-size: 2em; }
  #servini h2 {
    font-size: 4em; }
  #servini .serviniContainer {
    flex-direction: row;
    align-items: flex-start;
    margin: 0px 40px; }
    #servini .serviniContainer .servicio {
      width: 33%;
      margin: 0px 20px;
      height: 35em; } }
