@import"../utiles/vars";
header{
    border-bottom: 5px solid map-get($colores, azul );
    nav{
        .barra{
            background-color: map-get($colores, blanco);
            
            img{
                max-width: 180px;
            }
            ul{
               
                
                li{
                    a{
                        text-align: center;
                        color: map-get($colores,azul);
                        font-size: $tama;
                        transition: all 0.2s;
                        &:hover{
                            color: map-get($colores,azul);
                            padding-bottom: 20px;
                            border-left: solid 7px map-get($colores,azul );
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1024){
    header{
        nav{
            .barra{
                display: flex;
                img{
                    max-width: 250px;
                }
                ul{
                    // padding-left: 20em;
                    li{
                        a{
                            font-size: $tama_e;
                            transition: all 0.2s;
                            &:hover{
                                transform: translateY(-10px);
                                border-left: none;
                                border-bottom: 5px solid map-get($colores,azul);
                            }
                        }
                    }
                }
            }
        }
    }
}
