@import "../utiles/vars";
@import "../utiles/compo";

.inicio{
    @extend %centrar;
    flex-direction: column;
    padding: 20px 10px 40px 10px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/8204355/pexels-photo-8204355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    @extend %imagen;
    height: 90vh;
    .borro{
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        margin: 10px 5px;
        padding: 60px 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        h1{
            color: map-get($colores, azul);
            font-size: $tamh1;
            font-weight: bold;
        }
        p{
            color: white;
            font-size: $tamp;
        }
    }
}
#servini{
    @extend %centrar;
    flex-direction: column;
    background-color: white;
    padding: 20px 0px 80px 0px;
    h2{
        font-size: $tamh2;
    }
    .serviniContainer{
        @extend %centrar;
        flex-direction: column;
        .servicio{
            background-color: white;
            max-width: 85%;
            margin: 20px 0px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transition: all 0.2s;
            &:hover{
                background-color: rgba(149, 159, 194, 0.199);
            }
            h3{
                height: 15vh;
                font-size: $tittarj;
                border-bottom: 3px solid map-get($colores,azul);
                padding: 20px 5px;
                color: map-get($colores,celeste);
                @extend %centrar;
                transition: all 0.5s;
            }
            p{
                color: black;
                margin: 20px 5px;
                @extend %centrar;
                text-align: start !important;
                padding: 0px 10px;
                font-size: $texttarj;   
            }
        }
    }
    
}
@media (min-width: 990px){
    .inicio{
         height: 70vh;
         .borro{
             p{
                 font-size: $tamp_e;
             }
         }
     }
    #servini{
        h2{
            font-size: $tamh2;
        }
        p{
            font-size: $tamp - 0.8;

        }
        .serviniContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: flex-start;
            margin: 0px 40px;
            .servicio{
                width: 25%;
                margin: 20px 20px;
                height: 35em;

            }
        }
    }
 }