@import "../utiles/vars";
@import "../utiles/compo";

#proyectos{
    h1{
        font-size: $tamh1 - 2.5;
        text-align: center;
        padding: 20px 5px;
        color: map-get($colores,azul);
    }
    .descripcionProyecto{
        h2{
            font-size: $tamh2 - 0.4;
            // padding: 10px 5px 5px 10px;
            padding: 10px 5px 0px 10px;
            text-align: start;
            color: map-get($colores,celeste);
        }
        p{
            font-size: $tamp - 0.2;
            text-align: justify;
            padding: 0px 20px 0px 20px;
            color: map-get($colores,gris);

        }
        ul{
            padding: 0;
            padding-left: 20px;
            li{
                font-size: 1.2em;
                color: map-get($colores,gris);
                .nave{
                    width: 30px;
                    transition: all 0.5s;
                    &:hover{
                        transform: rotate(-43deg);
                        width: 40px;
                    }
                }
            }
        }
        button{
        }
    }

}