@import "../utiles/vars";
@import "../utiles/compo";

#serviciosEsp{
    @extend %centrar;
    padding-top: 10px;
    .serviciosCont{
        h1{
            display: inline-block;
            position: relative;
            font-size: $tamh1 - 2;
            color: map-get($colores,azul);
            padding: 30px 5px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        p{
            display: none;
        }
    }
    img{
        display: none;
    }
}
#servini{
    padding: 0;
}

@media (min-width: 1024px){
    #serviciosEsp{
        // background-color: #004aad;
        // background-image: linear-gradient(0deg, #004aad 0%, #ffffff 100%);
        display: flex;
        flex-direction: row-reverse;
        height: 80vh;
        .serviciosCont{
            width: 30%;
            margin-left:40px ;
            h1{
                font-size: $tamh1 - 2.4;
                padding-bottom: 10px;
                &::before{
                content: '';
                position: absolute;
                width: 60px;
                height: 3px;
                background-color: map-get($colores,gris);
                top: 1.1em;
                left: -80px;
                
                }
                &::after{
                content: '';
                position: absolute;
                width: 60px;
                height: 3px;
                background-color: map-get($colores,gris);
                top: 1.1em;
                right: -80px;
                }
            }
            p{
                display: block;
                text-align: justify;
                font-size: $tamp_e - 0.6;
            }
        }
        img{
            margin-right:40px ;
            display: block;
            max-width: 500px;
            border-radius: 20px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    }
    }
    .py0{
        padding: 0px auto;
    }
        
}