// paleta de colores

$colores:(
    azul:#004aad,
    celeste:#5272ff,
    gris:#737373,
    negro:#000000,
    blanco:#ffffff
);

// variables vista mobile

$tama:1.2em;


// variables vista escritorio

$tama_e:1.4em;