// paleta de colores

$colores:(
    azul:#004aad,
    celeste:#5272ff,
    gris:#737373,
    negro:#000000,
    blanco:#ffffff
);

// variables vista mobile

$tama:1.2em;
$tam-sociales:3em;


// variables vista escritorio

$tama_e:1.4em;

// extends

%centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}